.DS_Store
*/.DS_Store
**/.DS_Store
__MACOSX/

allure-report/
allure-results/
junit*.xml
result.json

*.test

bin/
*.exe
*.exe~
*.out
*.o
*.pch
*.gch

__pycache__/
*.pyc

coverage.out
.coverage

*.swp
*.bak
*.tmp

*.md
